  @import "tailwindcss";

  @layer base {
    :root {
      --bg: #ffffff;
      --bg-secondary: #f8f9fa;
      --text: #111111;
      --text-secondary: #6b7280;
      --border: #e5e7eb;
      --hover-bg: #f3f4f6;
      --hover-bg1: #f3f4f6;

      /* Buttons */
      --btn-bg: #111111;
      --btn-text: #ffffff;
      --btn-hover-bg: #222222;

      /* Mobile Menu */
      --menu-bg: #ffffff;

      /* Gradient */
      --gradient-from: #4f46e5;
      --gradient-to: #9333ea;
    }

    .dark {
      --bg: #000000;
      --bg-secondary: #111111;
      --text: #ffffff;
      --text-secondary: #d1d5db;
      --border: #374151;
      --hover-bg: #1f2937;
      --hover-bg1: #f3f4f6;


      /* Buttons */
      --btn-bg: #ffffff;
      --btn-text: #000000;
      --btn-hover-bg: #e5e7eb;

      --menu-bg: #111111;

      --gradient-from: #4f46e5;
      --gradient-to: #9333ea;
    }
  }


  @layer utilities {

    /* Custom scrollbar styles */
    .scrollbar-gradient::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    .scrollbar-gradient::-webkit-scrollbar-track {
      /* background: linear-gradient(to right, #4e46e546, #9233ea54); */
      background: transparent;
      border-radius: 8px;
    }

    .scrollbar-gradient::-webkit-scrollbar-thumb {
      background: linear-gradient(to right, #c9c9c9, #c9c9c9);
      /* from-indigo-600 to-purple-600 */
      border-radius: 8px;
    }

    .scrollbar-gradient::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(to right, #6c6b6b, #6c6b6b);
    }
  }

  ul {
    padding: 10px 20px;

    &.no-space {
      padding: 0;
    }

    li {
      list-style: disc;

      &.no-listing {
        list-style: none;
      }
    }
  }


  .container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  .box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    background-color: lightblue;
  }

  .content-box {
    box-sizing: content-box;
    background-color: #ffb3b3;
  }

  .border-box {
    box-sizing: border-box;
    background-color: #90ee90;
  }

  button.cstm {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px
  }

  button.cstm:focus {
    background-color: #cccccc96;
  }

  .cstm-input {
    border: 1px solid rgb(99, 98, 98);
    border-radius: 4px;
    padding: 5px 10px
  }

  .cstm-input:focus {
    border: inherit;
  }

  .event-style {
    margin-bottom: 22px
  }

  .event-style .showMessage {
    text-align: center;
    padding: 10px;
  }

  .counter-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Projects Css for Accordions */
  .accordion-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .accordion-header {
    background: #0d6efd;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .accordion-header .icon {
    transition: all 0.3s ease;
  }

  .accordion-header .icon.rotate {
    transform: rotate(180deg);
  }

  .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #f9f9f9;
    padding: 0 15px;
  }


  @media screen and (max-width: 1023px) {

    .fancy-view {
      max-height: calc(-275px + 100vh) !important;
      min-height: calc(100vh - 222px) !important;
    }

  }