  @import "tailwindcss";

  @layer base {
    :root {
      --bg: #ffffff;
      --bg-secondary: #f8f9fa;
      --text: #111111;
      --text-secondary: #6b7280;
      --border: #e5e7eb;
      --hover-bg: #f3f4f6;
      --hover-bg1: #f3f4f6;

      /* Buttons */
      --btn-bg: #111111;
      --btn-text: #ffffff;
      --btn-hover-bg: #222222;

      /* Mobile Menu */
      --menu-bg: #ffffff;

      /* Gradient */
      --gradient-from: #4f46e5;
      --gradient-to: #9333ea;
    }

    .dark {
      --bg: #000000;
      --bg-secondary: #111111;
      --text: #ffffff;
      --text-secondary: #d1d5db;
      --border: #374151;
      --hover-bg: #1f2937;
      --hover-bg1: #f3f4f6;


      /* Buttons */
      --btn-bg: #ffffff;
      --btn-text: #000000;
      --btn-hover-bg: #e5e7eb;

      --menu-bg: #111111;

      --gradient-from: #4f46e5;
      --gradient-to: #9333ea;
    }
  }


  @layer utilities {

    /* Custom scrollbar styles */
    .scrollbar-gradient::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    .scrollbar-gradient::-webkit-scrollbar-track {
      /* background: linear-gradient(to right, #4e46e546, #9233ea54); */
      background: transparent;
      border-radius: 8px;
    }

    .scrollbar-gradient::-webkit-scrollbar-thumb {
      background: linear-gradient(to right, #c9c9c9, #c9c9c9);
      /* from-indigo-600 to-purple-600 */
      border-radius: 8px;
    }

    .scrollbar-gradient::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(to right, #6c6b6b, #6c6b6b);
    }
  }

  ul {
    padding: 10px 20px;

    &.no-space {
      padding: 0;
    }

    li {
      list-style: disc;

      &.no-listing {
        list-style: none;
      }
    }
  }


  .container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  .box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    background-color: lightblue;
  }

  .content-box {
    box-sizing: content-box;
    background-color: #ffb3b3;
  }

  .border-box {
    box-sizing: border-box;
    background-color: #90ee90;
  }

  .rb_style {
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .rb_style:focus {
    border: 1px solid indigo;
  }

  button.cstm {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px
  }

  button.cstm:focus {
    background-color: #cccccc96;
  }

  .cstm-input {
    border: 1px solid rgb(99, 98, 98);
    border-radius: 4px;
    padding: 5px 10px
  }

  .cstm-input:focus {
    border: inherit;
  }

  .event-style {
    margin-bottom: 22px
  }

  .event-style .showMessage {
    text-align: center;
    padding: 10px;
  }

  .counter-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Projects Css for Accordions */
  .accordion-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .accordion-header {
    background: #0d6efd;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .accordion-header .icon {
    transition: all 0.3s ease;
  }

  .accordion-header .icon.rotate {
    transform: rotate(180deg);
  }

  .accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #f9f9f9;
    padding: 0 15px;
  }


  @media screen and (max-width: 1023px) {

    .fancy-view {
      max-height: calc(-275px + 100vh) !important;
      min-height: calc(100vh - 222px) !important;
    }

  }

  .item-name {
    text-align: left;
  }

  .no-padding {
    padding: 0 !important;
  }

  .sidebar-level-2 {
    padding-left: 10px !important;
  }

  .sidebar-level-3 {
    padding: 0;
    padding-left: 8px !important;
  }

  .sidebar-level-4 {
    padding: 0;
    margin-left: 10px;
  }

  .sidebar-level-3 .icon-left,
  .sidebar-level-4 .icon-left {
    display: none;
  }

  .sidebar-level-2 .item-name,
  .sidebar-level-3 .item-name,
  .sidebar-level-4 .item-name {
    font-size: 14px;
  }

  /* --- For Html Select Start ----*/
  /* Base select + picker */
  .custom-select,
  .custom-select::picker(select) {
    appearance: base-select;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: #fff;
    padding: 0.75em 1em;
    max-width: 100%;
    color: #333;
    transition: border-color 0.25s, box-shadow 0.25s;
    margin-block: 8px;
  }

  .custom-select:focus {
    outline: none;
  }

  .custom-select::picker(select) {
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    transition:
      opacity 0.25s ease,
      transform 0.25s ease,
      display 0.25s allow-discrete,
      overlay 0.25s allow-discrete;
  }

  /* Animate dropdown open/close */
  .custom-select:not(:open)::picker(select) {
    opacity: 0;
    transform: scale(0.95);
  }

  .custom-select:open::picker(select) {
    opacity: 1;
    transform: scale(1);
  }

  selectedcontent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
  }

  selectedcontent div {
    gap: 0.6em;
    display: flex;
    align-items: center;
  }

  selectedcontent>* {
    transition: transform 0.6s ease, opacity 0.6s, display 0.6s allow-discrete;

    @starting-style {
      opacity: 0;
      transform: translateY(8px);
    }

    opacity: 1;
  }

  .custom-select::picker-icon {
    content: "";
    width: 7px;
    height: 7px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    margin: 5px 3px 0 auto;
    transition: transform 0.25s ease, margin 0.25s ease;
  }

  .custom-select:open::picker-icon {
    transform: rotate(-135deg);
    margin-top: 8px;
  }

  /* Options */
  option {
    cursor: pointer;
    transition: background 0.2s;
  }

  option div {
    gap: 0.6em;
    padding: 10px 5px;
    display: flex;
    align-items: center;
  }

  option:hover {
    background: #f2f2f2;
  }

  option:checked {
    background: #eaf5ff;
    border-radius: 6px;
  }

  option::checkmark {
    display: none;
  }

  /* body {
    min-height: 100vh;
    background: linear-gradient(135deg,
        var(--color-indigo-600),
        var(--color-purple-600));
  } */

  /* header {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  }

  .aside-block,
  main {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  } */

  /* --- For Html Select End ----*/

  /* Reusable Modal Css */

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .animate-fade {
    animation: fade 0.25s ease-in-out;
  }

  @keyframes scale {
    from {
      transform: scale(0.85);
    }

    to {
      transform: scale(1);
    }
  }

  .animate-scale {
    animation: scale 0.25s ease-in-out;
  }

  /* Reusable Toast Animations */

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(30px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in {
    animation: slideInRight 0.25s ease-out;
  }